{{#each article}}
<div class="row">
    <div class="col-sm-8">
        <div class="card mt-3">
            <div class="card-body">
                <h5 class="card-title" data-id="{{this._id}}">{{this.headline}}</h5>
                <p class="card-text">{{this.summary}}</p>
                <a href="{{this.link}}" target="_blank" class="btn btn-primary">Read Full Article</a>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="comments" id="{{this.id}}"></div>
    </div>
</div>
{{/each}}