{{#each article}}
<div class="row">
    <div class="col-sm-12">
        <div class="card mt-3">
            <div class="card-body">
                <h5 class="card-title" data-id="{{this._id}}">{{this.headline}}</h5>
                <p class="card-text">{{this.summary}}</p>
                <div class="card">
                    <div class="card-body">
                        <div class="card-title">Comments:</div>
                        <div class="card-text">
                            {{#each this.comment}}
                            <div>
                                <p>{{this.title}}</p>
                                <p><em>{{this.body}}<a href="#" onclick="return false;" id="deleteComment"
                                            data-id="{{this._id}}" class="btn">Delete</a>
                                </p></em>
                            </div>
                            <hr>
                            {{/each}}
                            <a href="#" onclick="return false;" id="showCommentInput" data-id="{{this._id}}">Click to
                                comment</a>
                        </div>
                    </div>
                </div>
                <a href="https://www.nytimes.com{{this.link}}" target="_blank" class="mt-3 btn btn-primary">Read Full
                    Article</a>
                <span></span>
            </div>
        </div>
    </div>
</div>
{{/each}}